body {
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

main {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 620px;

  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-panel {
  width: 50%;

  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.left-panel img {
  border-radius: inherit;
  object-fit: cover;
}

.rigth-panel {
  width: 50%;
  padding: 2rem 2rem;
  box-sizing: border-box;
  background-color: white;

  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rigth-panel h1 {
  margin: 0;

  font-size: 12px;
  letter-spacing: 4px;

  color: rgba(128, 128, 128, 0.705);
}

.rigth-panel h2 {
  margin: 0;
  margin-top: 1.2rem;

  font-size: 33px;
  font-family: 'Fraunces', sans-serif;
}

.rigth-panel p {
  line-height: 25px;
  font-size: 15px;
  color: hsl(228, 12%, 48%);
}

.price-group {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Fraunces';
}

.price-group span:nth-child(1) {
  font-size: 30px;
  color: rgb(66, 138, 102);
}

.price-group span:nth-child(2) {
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.rigth-panel button {
  width: 100%;
  background-color: rgb(66, 138, 102);
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: background-color 0.25s;
}

.rigth-panel button:hover {
  background-color: rgb(28, 59, 44);
}

.rigth-panel button span {
  margin-left: 10px;
}

@media (max-width: 375px) {
  .card {
    flex-direction: column;
    padding: 1rem;
  }

  .left-panel {
    width: 100%;
    height: 270px;

    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  
  .rigth-panel {
    width: 100%;
    padding: 2rem 1.5rem;
  }
}

footer {
  /* height: 5%; */
}