body {
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

main {
  height: 95%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 35%;
  height: 50%;
  background-color: white;
  border-radius: 10px;

  display: flex;
  justify-content: space-around;
}

.left-panel {
  width: 50%;

  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.left-panel img {
  border-radius: inherit;
}

.rigth-panel {
  width: 50%;
  padding: 1rem 2rem;
  box-sizing: border-box;

  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  display: flex;
  flex-direction: column;
}

.rigth-panel h1 {
  font-size: 12px;
  letter-spacing: 4px;
}

footer {
  height: 5%;
}